# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
.venv/

# Instance & SQLite DB
instance/
*.db
*.sqlite3

# Uploads & Generated Reports
static/uploads/*
!static/uploads/default_avatar.png
reports/*.pdf
reports/*.xlsx
reports/*.csv

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Environment Variables
.env
